<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebApplication3.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HADS26-TAREASConnectionString" connectionString="Data Source=tcp:hads26.database.windows.net,1433;Initial Catalog=HADS26-TAREAS;User ID=HADS26;Password=InigoSergio26"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1"/>
    <httpRuntime/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
  
  
  
  </system.web>
  
  <system.web>
     <authentication mode="Forms">
      <forms  loginUrl="publico/inicio.aspx"  protection="None"></forms>
    </authentication>
  </system.web>
  
        
  
<location path="publico">
  <system.web>
    <authorization>
      <allow users="?"></allow>
    </authorization>
  </system.web>
</location>
  
  <location path="privado">
  <system.web>
    <authorization>
      <allow users="profesor, vadillo, alumno"/>
      <deny users="*"></deny>
      <deny users="?"></deny>
    </authorization>
  </system.web>
</location>

  <location path="privado/alumno">
  <system.web>
   
    <authorization>
      <allow users="alumno"></allow>
      <deny users="*"></deny>
      <deny users="?"></deny>
    </authorization>
  </system.web>
</location>
  
<location path="privado/profesor">
  <system.web>
    <authorization>
      <allow users="profesor, vadillo"></allow>
      <deny users="*"></deny>
      <deny users="?"></deny>
    </authorization>
  </system.web>
</location>
  
<location path="privado/profesor/vadillo">
  <system.web>
    <authorization>
      <allow users="vadillo"></allow>
      <deny users="*"></deny>
      <deny users="?"></deny>
    </authorization>
  </system.web>
</location>

  <location path="privado/admin">
  <system.web>
    <authorization>
      <allow users="admin"></allow>
      <deny users="*"></deny>
      <deny users="?"></deny>
    </authorization>
  </system.web>
</location>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MatriculasBinding" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ehusw.es/jav/ServiciosWeb/comprobarmatricula.php"
        binding="basicHttpBinding" bindingConfiguration="MatriculasBinding"
        contract="comprobar.MatriculasPortType" name="MatriculasPort" />
      <endpoint address="http://localhost:62651/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="servicioHorasMedias.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:62651/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService11" contract="servicioHoras.IService1"
        name="BasicHttpBinding_IService11" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <WebApplication3.My.MySettings>
      <setting name="WebApplication3_comprobar2_Matriculas" serializeAs="String">
        <value>http://ehusw.es/jav/ServiciosWeb/comprobarmatricula.php</value>
      </setting>
      <setting name="WebApplication3_localhost_Service1" serializeAs="String">
        <value>http://localhost:62651/Service1.svc</value>
      </setting>
      <setting name="WebApplication3_FINAL_serviciohoras" serializeAs="String">
        <value>http://localhost:50335/serviciohoras.asmx</value>
      </setting>
      <setting name="WebApplication3_FINALONLINE_serviciohoras" serializeAs="String">
        <value>https://serviciosoap20180426053553.azurewebsites.net/serviciohoras.asmx</value>
      </setting>
    </WebApplication3.My.MySettings>
  </applicationSettings>
</configuration>